.container{
    display: flex;
    flex-direction: row;
    width: 500px;
    flex-wrap: wrap;
    border:solid 2px rgb(95, 95, 95);
       
}
.input {
    margin-bottom: 10px;
}
.box{
    height: 60px;
    width: 60px;
}
